<aside class="sidebar">
    <div class="padding-top-2x hidden-lg-up"></div>
    <!-- Order Summary Widget-->
    <section class="widget widget-order-summary">
        <h3 class="widget-title">Total del Pedido</h3>
        <table class="table">
            <tr>
                <td>Productos Subtotal:</td>
                <td class="text-medium">${{ subTotal }}</td>
            </tr>
            <tr>
                <td>Costo de Retiro</td>
                <td class="text-medium">$0.00</td>
            </tr>
            <tr>
                <td>Total:</td>
                <td class="text-lg text-medium text-danger">${{ subTotal }}</td>
            </tr>
        </table>
    </section>
    <!-- Featured Products Widget-->
    <section class="widget widget-featured-products">
        <h3 class="widget-title">Puede Interesarte</h3>

        <!-- Entry-->
        <div *ngFor="let producto of productos" class="entry">
            <div class="entry-thumb">
                <a href="shop-single.html"><img [src]="producto.imagen | imagen:'producto'" alt="{{ producto.nombre }}"></a>
            </div>
            <div class="entry-content">
                <h4 class="entry-title"><a routerLink="/busqueda/{{producto.nombre}}">{{producto.nombre}}</a></h4><span class="entry-meta">${{producto.precio}}</span>
            </div>
        </div>

    </section>
    <!-- Promo Banner-->
    <section class="promo-box" style="background-image: url(../assets/img/categorias/02.jpg);"><span class="overlay-dark" style="opacity: .4;"></span>
        <div class="promo-box-content text-center padding-top-2x padding-bottom-2x">
            <h4 class="text-light text-thin text-shadow">Nueva Mochila</h4>
            <h3 class="text-bold text-light text-shadow">Mochila FCB</h3><a class="btn btn-outline-white btn-sm" routerLink="/busqueda/Mochila del Barcelona">Ingresar</a>
        </div>
    </section>
</aside>