<div class="offcanvas-wrapper">
    <!-- Page Title-->
    <div class="page-title">
        <div class="container">
            <div class="column">
                <h1>Shop Grid No Sidebar</h1>
            </div>
            <div class="column">
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="separator">&nbsp;</li>
                    <li>Shop Grid No Sidebar</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Page Content-->
    <div class="container padding-bottom-3x mb-1">
        <!-- Shop Toolbar-->
        <div class="shop-toolbar padding-bottom-1x mb-2">
            <div class="column">
                <div class="shop-sorting">
                    <label for="sorting">Sort by:</label>
                    <select class="form-control" id="sorting">
            <option>Popularity</option>
            <option>Low - High Price</option>
            <option>High - Low Price</option>
            <option>Avarage Rating</option>
            <option>A - Z Order</option>
            <option>Z - A Order</option>
          </select><span class="text-muted">Showing:&nbsp;</span><span>1 - 12 items</span>
                </div>
            </div>
            <div class="column">

            </div>
        </div>
        <!-- Products Grid-->
        <div class="isotope-grid cols-4 mb-2" style="height: 2165.63px; position: relative;">

            <div class="gutter-sizer"></div>
            <div class="grid-sizer"></div>
            <!-- Product-->
            <div class="grid-item" style="left: 0px; top: 0px; position: absolute;">
                <div class="product-card">
                    <div class="product-badge text-danger">50% Off</div>
                    <a class="product-thumb" href="shop-single.html"><img alt="Product" src="img/shop/products/01.jpg"></a>
                    <h3 class="product-title"><a href="shop-single.html">Unionbay Park</a></h3>
                    <h4 class="product-price">
                        <del>$99.99</del>$49.99
                    </h4>
                    <div class="product-buttons">
                        <button title="" class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" data-original-title="Whishlist"><i class="icon-heart"></i></button>
                        <button class="btn btn-outline-primary btn-sm" data-toast-message="successfuly added to cart!" data-toast-title="Product" data-toast-icon="icon-circle-check" data-toast-type="success" data-toast-position="topRight" data-toast="">Add to Cart</button>
                    </div>
                </div>
            </div>
            <!-- Product-->
            <div class="grid-item" style="left: 296px; top: 0px; position: absolute;">
                <div class="product-card">
                    <a class="product-thumb" href="shop-single.html"><img alt="Product" src="img/shop/products/02.jpg"></a>
                    <h3 class="product-title"><a href="shop-single.html">Cole Haan Crossbody</a></h3>
                    <h4 class="product-price">$200.00</h4>
                    <div class="product-buttons">
                        <button title="" class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" data-original-title="Whishlist"><i class="icon-heart"></i></button>
                        <button class="btn btn-outline-primary btn-sm" data-toast-message="successfuly added to cart!" data-toast-title="Product" data-toast-icon="icon-circle-check" data-toast-type="success" data-toast-position="topRight" data-toast="">Add to Cart</button>
                    </div>
                </div>
            </div>
            <!-- Product-->
            <div class="grid-item" style="left: 592px; top: 0px; position: absolute;">
                <div class="product-card">
                    <div class="rating-stars"><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star"></i>
                    </div>
                    <a class="product-thumb" href="shop-single.html"><img alt="Product" src="img/shop/products/03.jpg"></a>
                    <h3 class="product-title"><a href="shop-single.html">Oakley Kickback</a></h3>
                    <h4 class="product-price">$155.00</h4>
                    <div class="product-buttons">
                        <button title="" class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" data-original-title="Whishlist"><i class="icon-heart"></i></button>
                        <button class="btn btn-outline-primary btn-sm" data-toast-message="successfuly added to cart!" data-toast-title="Product" data-toast-icon="icon-circle-check" data-toast-type="success" data-toast-position="topRight" data-toast="">Add to Cart</button>
                    </div>
                </div>
            </div>

        </div>

        <!-- Pagination-->

    </div>

</div>