<!-- Page Title-->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Todos los Productos</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li><a routerLink="/">Inicio</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>Listado de Productos</li>
            </ul>
        </div>
    </div>
</div>

<!-- Page Content-->
<div class="container padding-bottom-3x mb-1">
    <div class="row justify-content-center">
        <div class="col-lg-10">

            <!-- Shop Toolbar-->
            <div [hidden]="productos.length === 0" class="shop-toolbar padding-bottom-1x mb-2">
                <div class="column">
                    <div class="shop-view"><a class="list-view" routerLink="/busqueda/{{termino}}"><span></span><span></span><span></span></a><a class="grid-view active"><span></span><span></span><span></span></a></div>
                </div>
            </div>


            <!-- Product-->
            <div *ngFor="let producto of productos">
                <div *ngIf="producto.descuento" class="product-card product-list">
                    <a class="product-thumb" href="shop-single.html">
                        <div class="product-badge text-danger">{{producto.descuento}}% OFF</div><img [src]="producto.imagen | imagen:'producto'" alt="{{ producto[0].nombre }}"></a>
                    <div class="product-info">
                        <h3 class="product-title"><a href="shop-single.html">{{ producto.nombre }}</a></h3>
                        <h4 class="product-price">
                            <del>${{producto.precio}}</del>${{producto.precio_desc}}
                        </h4>
                        <p class="hidden-xs-down">{{ producto.descripcion }}</p>
                        <div class="product-buttons">
                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist"><i class="icon-heart"></i></button>
                            <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fas fa-shopping-cart"></i> Agregar </button>
                        </div>
                    </div>
                </div>
                <!-- Product -->
                <div *ngIf="!producto.descuento" class="product-card product-list">
                    <a class="product-thumb" href="shop-single.html"><img [src]="producto.imagen | imagen:'producto'" alt="{{ producto.nombre }}"></a>
                    <div class="product-info">
                        <h3 class="product-title"><a href="shop-single.html">{{ producto.nombre }}</a></h3>
                        <h4 class="product-price">{{ producto.precio }}</h4>
                        <p class="hidden-xs-down">{{ producto.descripcion }}</p>
                        <div class="product-buttons">
                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist"><i class="icon-heart"></i></button>
                            <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fas fa-shopping-cart"></i> Agregar </button>
                        </div>
                    </div>
                </div>
            </div>


            <div *ngIf="productos.length === 0" class="col-12">
                <div class="alert alert-primary alert-dismissible fade show text-center margin-bottom-1x">
                    <span class="alert-close" data-dismiss="alert"></span><i class="icon-camera"></i> &nbsp;&nbsp;
                    <strong>No Result..</strong> No existen resultados para la busqueda que intenta realizar.
                    <a routerLink="/">Regresar</a>
                </div>
            </div>


        </div>
    </div>
</div>