<div class="shop-toolbar padding-bottom-1x mb-2">
    <div class="column">
        <div class="form-group">
            <form class="input-group form-group">
                <span class="input-group-btn">
                  <button (click)="this.cargarTodos();"><i class="icon-search"></i></button>
              </span>
                <input #input (keyup)="buscar( input.value )" class="form-control" type="text" placeholder="Que queres comprar..">
            </form>
        </div>
    </div>
    <app-link-vistas></app-link-vistas>

</div>