<div class="shop-toolbar padding-bottom-1x mb-2" *ngIf="!cargando">
    <div class="column">
        <div class="form-group">
            <form class="input-group form-group">
                <span class="input-group-btn">
                  <button (click)="this.cargarTodos();"><i class="icon-search"></i></button>
              </span>
                <input #input (keyup)="buscar( input.value )" class="form-control" type="text" placeholder="Que queres comprar..">
            </form>
        </div>
    </div>


</div>

<div class="row" *ngIf="cargando">

    <div class="col-md-12">

        <div class="alert alert-success text-center">
            <strong>Cargando...</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor!</span>
        </div>
    </div>
</div>


<!-- No existe-->
<div class="row" [hidden]="productos.length > 0 || cargando">
    <div class="col-md-12">
        <div *ngIf="productos.length === 0">
            <div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-2x">
                <span class="alert-close" data-dismiss="alert"></span><i class="icon-camera"></i> &nbsp; No existen resultados para la busqueda que intenta realizar.
                <a a style="cursor: pointer;" (click)="cargarTodos()"><strong>&nbsp; Regresar a productos..</strong></a>
            </div>
        </div>
    </div>
</div>