<div class="row">
    <div class="col-lg-10 col-md-10 order-md-2">
        <h6 class="text-muted text-normal text-uppercase">Detalle de Categorias</h6>
        <hr class="margin-bottom-1x">

        <form ngNativeValidate #f="ngForm" (ngSubmit)="guardarCategoria( f )" *ngIf="!btn_editar">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="normal-pill-input">Nombre de la Categoria</label>
                        <input class="form-control" [ngModel]="nombre" name="nombre" required>
                    </div>
                </div>
                <div class="col-md-2" *ngIf="!btn_editar">
                    <div class="top25">
                        <button class="btn btn-sm btn-primary" type="submit">
                            <i class="fas fa-save"></i> Nuevo
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <form ngNativeValidate #f="ngForm" (ngSubmit)="guardarCategoria( f )" *ngIf="btn_editar">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="normal-pill-input">Nombre de la Categoria</label>
                        <input class="form-control" [(ngModel)]="categoria.nombre" name="categoria" required>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="top25">
                        <button class="btn btn-sm btn-success" type="submit">
                            <i class="fas fa-pencil-alt"></i> Editar
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-12">
                <div class="top60 text-right">
                    <small class="text-muted"> 
                        <i class="fas fa-list-ul"></i>
                        Categorias: ( 5 de un total de: {{ totalRegistros }} ) 
                    </small>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Categoria</th>
                                <th>Estado</th>
                                <th>Ingreso</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let categoria of categorias">
                                <th scope="row">1</th>
                                <td>{{ categoria.nombre }}</td>
                                
                                <td>
                                    <strong *ngIf="!categoria.estado" class="text-lg text-danger"> Desactivado </strong>
                                    <strong *ngIf="categoria.estado" class="text-lg text-primary"> Activo </strong>
                                </td>

                                <td>{{ categoria.fecha }}</td>
                                <td>
                                    <button class="btn btn-secondary btn-sm" type="button" (click)="editar(categoria._id)"><i class="fas fa-pencil-alt"></i></button>
                                    <button class="btn btn-secondary btn-sm" type="button"><i class="fas fa-trash-alt"></i></button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="entry-navigation">
                    <div class="column text-left">
                        <button class="btn btn-outline-secondary btn-sm" (click)="cambiarDesde(-5)">
                            <i class="icon-arrow-left"></i>&nbsp;Anterior
                        </button>
                    </div>
                    <div class="column">
                        <button class="btn btn-outline-secondary view-all" title="Todos" (click)="cambiarDesde(0)">
                            <i class="icon-menu"></i>
                        </button>
                    </div>
                    <div class="column text-right ">
                        <button class="btn btn-outline-secondary btn-sm " (click)="cambiarDesde(5)">
                                Siguiente&nbsp;<i class="icon-arrow-right "></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>