<div class="row">
    <div class="col-lg-12 col-md-12">
        <h6 class="text-muted text-normal text-uppercase">Detalle de Categorias</h6>
        <hr class="margin-bottom-1x">

        <form ngNativeValidate #f="ngForm" (ngSubmit)="guardarCategoria( f )" *ngIf="!btn_editar">
            <div class="row">
                <div class="col-md-8">
                    <label for="normal-pill-input"></label>
                    <div class="form-group">
                        <label for="normal-pill-input">Nombre de la Categoria</label>
                        <input class="form-control" id="capitalize" [ngModel]="nombre" name="nombre" required>
                    </div>
                </div>
                <div class="col-md-2" *ngIf="!btn_editar">
                    <label for="normal-pill-input"></label>
                    <div class="top25">
                        <button class="btn btn-sm btn-primary" type="submit">
                            <i class="fas fa-save"></i> Nuevo
                        </button>
                    </div>
                </div>
            </div>
        </form>


        <form ngNativeValidate #f="ngForm" (ngSubmit)="guardarCategoria( f )" *ngIf="btn_editar">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="normal-pill-input">Nombre de la Categoria</label>
                        <input class="form-control" id="capitalize" [(ngModel)]="categoria.nombre" name="nombre" required>
                    </div>
                    <h6 class="text-muted text-normal text-uppercase padding-top-2x">Estado de la Categoria</h6>
                    <hr class="margin-bottom-1x">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" id="ex-radio-1" name="radio" [value]="true" [(ngModel)]="!categoria.estado">
                                <label class="custom-control-label" for="ex-radio-1">Activo</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" id="ex-radio-2" name="radio" [value]="false" [(ngModel)]="categoria.estado">
                                <label class="custom-control-label" for="ex-radio-2">Desactivo</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 ">
                    <div class="top25">
                        <button class="btn btn-sm btn-success " type="submit ">
                            <i class="fas fa-pencil-alt "></i> Editar
                        </button>
                        <button class="btn btn-sm btn-secondary " (click)="btn_editar=false ">
                            <i class="fas fa-ban "></i> Cancel
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <div class="row ">
            <div class="col-md-12 ">
                <div class="text-right">
                    <small class="text-muted "> 
                        <i class="fas fa-list-ul "></i>
                        Categorias: ( Total: {{ totalRegistros }} ) 
                    </small>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-responsive ">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Categoria</th>
                                <th>Estado</th>
                                <th>Creado</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let categoria of categorias; let i=index">
                                <td>{{ i+1 }}</td>
                                <td id="capitalize">{{ categoria.nombre }}</td>

                                <td>
                                    <strong *ngIf="!categoria.estado " class="text-lg text-danger "> Desactivado </strong>
                                    <strong *ngIf="categoria.estado " class="text-lg text-primary "> Activo </strong>
                                </td>

                                <td>{{ categoria.fecha | date:'dd - MM - y' }}</td>
                                <td>
                                    <button class="btn btn-secondary btn-sm " type="button" (click)="editar(categoria._id)" title="Editar" *ngIf="categoria.estado"><i class="fas fa-pencil-alt "></i></button>
                                    <button class="btn btn-secondary btn-sm " type="button" *ngIf="categoria.estado" (click)="desactivarCategoria(categoria)" title="Desactivar"><i class="fas fa-trash-alt "></i></button>
                                    <button class="btn btn-secondary btn-sm " type="button" (click)="activarCategoria(categoria)" *ngIf="!categoria.estado" title="Activar"><i class="fas fa-sync-alt"></i></button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="entry-navigation ">
                    <div class="column text-left ">
                        <button class="btn btn-outline-secondary btn-sm " (click)="cambiarDesde(-5) ">
                            <i class="icon-arrow-left "></i>&nbsp;Anterior
                        </button>
                    </div>
                    <div class="column ">
                        <button class="btn btn-outline-secondary view-all " title="Todos " (click)="cambiarDesde(0) ">
                            <i class="icon-menu "></i>
                        </button>
                    </div>
                    <div class="column text-right ">
                        <button class="btn btn-outline-secondary btn-sm " (click)="cambiarDesde(5) ">
                                Siguiente&nbsp;<i class="icon-arrow-right "></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>