<!-- Page Title-->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Checkout</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li><a routerLink="/productos">Inicio</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>Forma de Pago</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Content-->
<div class="container padding-bottom-3x mb-2">
    <div class="row">
        <!-- Checkout Adress-->
        <div class="col-xl-12 col-lg-12">
            <div class="checkout-steps text-left">
                <a class="active" routerLink="/confirm-pago">3. Confirmar Pago</a>
                <a class="completed" routerLink="/checkout-pago">
                    <span class="step-indicator icon-circle-check"></span>
                    <span class="angle"></span>2. Forma de Pago</a>
                <a class="completed" routerLink="/checkout-address">
                    <span class="step-indicator icon-circle-check"></span>
                    <span class="angle"></span>1. Envio</a>
            </div>
            <h4>Revicion del Pedido </h4>
            <hr class="padding-bottom-1x">
            <div class="table-responsive shopping-cart">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th class="text-center">Precio</th>
                            <th class="text-center">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let producto of productos; let i=index">
                            <td>
                                <div class="product-item">
                                    <a class="product-thumb" href="shop-single.html"><img [src]="producto.imagen | imagen:'producto'" alt="{{ producto.nombre }}"></a>
                                    <div class="product-info">
                                        <h4 class="product-title"><a href="shop-single.html">{{ producto.nombre }}</a></h4>
                                        <span *ngIf="producto.descuento" class="text-danger"><em></em> Descuento %{{ producto.descuento }} </span>
                                        <span><em></em>  ${{ producto.descripcion }} </span>
                                    </div>
                                </div>
                            </td>

                            <td *ngIf="producto.descuento" class="text-center text-lg text-medium">${{ producto.precio_desc }} x <small class="text-danger">x{{ producto.cantidad }}</small> </td>

                            <td *ngIf="producto.descuento" class="text-center text-lg text-medium">${{ producto.precio_desc * producto.cantidad }}</td>

                            <td *ngIf="!producto.descuento" class="text-center text-lg text-medium"> ${{ producto.precio }} <small class="text-danger">x{{ producto.cantidad }}</small></td>

                            <td *ngIf="!producto.descuento" class="text-center text-lg text-medium"> ${{ producto.precio * producto.cantidad }}</td>

                            <td class="text-center"><a class="btn btn-outline-primary btn-sm" routerLink="/cartList">Editar</a></td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="shopping-cart-footer">
                <div class="column"></div>
                <div class="column text-lg">Subtotal: <span class="text-medium">${{_productoService.subTotal}}</span></div>
            </div>
            <div class="row padding-top-1x mt-3">
                <div class="col-sm-6">
                    <h5>Forma de Entrega: <strong>(Retiro por el Comercio)</strong></h5>
                    <!--    <ul class="list-unstyled">
                        <li><span class="text-muted">Cliente: </span> {{ user['nombre'] }} {{ user['apellido'] }}</li>
                        <li><span class="text-muted">Direccion: </span>{{ ubicacion['direccion'] }} {{ ubicacion['altura']}}</li>
                        <li><span class="text-muted">Telefono: </span>{{ ubicacion['telefono'] }}</li>
                    </ul> -->

                    <ul class="list-unstyled">
                        <li><span class="text-muted">Cliente: </span> {{usuario.nombre}} {{usuario.apellido}} </li>
                        <li><span class="text-muted">Direccion: </span>Alen 1358 (Local 1 Galeria II) - Tandil</li>
                        <li><span class="text-muted">Telefono: </span>0249 446 1234</li>
                    </ul>


                </div>
                <div class="col-sm-6">
                    <h5>Forma de Pago:</h5>
                    <ul class="list-unstyled">
                        <li><span class="text-muted">Pago: </span>{{ fPago }}</li>
                    </ul>
                </div>
            </div>
            <div class="checkout-footer margin-top-1x">
                <div class="column hidden-xs-down"><a class="btn btn-outline-secondary" routerLink="/checkout-pago"><i class="icon-arrow-left"></i>&nbsp;Atras</a></div>
                <div class="column"><a class="btn btn-primary" (click)="finalizarPago()">Comprletar Orden</a></div>
            </div>
        </div>

    </div>
</div>