<!-- Off-Canvas Category Menu-->
<div class="offcanvas-container" id="shop-categories">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title">Menu Principal</h3>
    </div>
    <nav class="offcanvas-menu">
        <ul class="menu">

            <li routerLinkActive="active"><span><a routerLink="/"><span>Categorias</span></a>
                </span>
            </li>
            <li routerLinkActive="active"><span><a routerLink="/productos"><span>Productos</span></a>
                </span>
            </li>
            <li routerLinkActive="active"><span><a routerLink="/perfil">Mi Perfil</a></span>

        </ul>
    </nav>
</div>
<!-- Off-Canvas Mobile Menu-->
<div class="offcanvas-container" id="mobile-menu">
    <a class="account-link" href="account-orders.html">
        <div class="user-ava"><img [src]="usuario.img | imagen" alt="usuario">
        </div>
        <div class="user-info">
            <h6 class="user-name"><small>Bienvenido!</small> {{ usuario.nombre }}</h6>
            <span class="text-xs text-muted">{{ usuario.email }}</span>
        </div>
    </a>
    <nav class="offcanvas-menu">
        <ul class="menu">
            <li routerLinkActive="active"><span><a routerLink="/"><span>Categorias</span></a>
                </span>
            </li>
            <li routerLinkActive="active"><span><a routerLink="/productos"><span>Productos</span></a>
                </span>
            </li>
            <li routerLinkActive="active"><span><a routerLink="/perfil">Mi Perfil</a></span>
        </ul>
    </nav>
</div>
<!-- Topbar-->
<div class="topbar">
    <div class="topbar-column"><a class="hidden-md-down" href="mailto:support@unishop.com"><i class="icon-mail"></i>&nbsp; unitshop@gmail.com</a><a class="hidden-md-down" href="tel:00331697720"><i class="icon-bell"></i>&nbsp; 00 33 169 7720</a><a class="social-button sb-facebook shape-none sb-dark"
            href="#" target="_blank"><i class="socicon-facebook"></i></a><a class="social-button sb-twitter shape-none sb-dark" href="#" target="_blank"><i class="socicon-twitter"></i></a>
        <a class="social-button sb-instagram shape-none sb-dark" href="#" target="_blank"><i class="socicon-instagram"></i></a><a class="social-button sb-pinterest shape-none sb-dark" href="#" target="_blank"><i class="socicon-pinterest"></i></a>
    </div>

</div>
<!-- Navbar-->
<!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
<header class="navbar navbar-sticky">

    <!-- Search -->

    <app-buscador></app-buscador>


    <!-- <form class="site-search">
        <input type="text" name="site_search" placeholder="Buscar Producto..">
        <div class="search-tools"><span class="clear-search">Clear</span><span class="close-search"><i class="icon-cross"></i></span></div>
    </form> -->


    <div class="site-branding">
        <div class="inner">
            <!-- Off-Canvas Toggle (#shop-categories)-->
            <a class="offcanvas-toggle cats-toggle" href="#shop-categories" data-toggle="offcanvas"></a>
            <!-- Off-Canvas Toggle (#mobile-menu)-->
            <a class="offcanvas-toggle menu-toggle" href="#mobile-menu" data-toggle="offcanvas"></a>
            <!-- Site Logo-->
            <a class="site-logo" routerLink="/productos"><img src="assets/logo.png" alt="K city"></a>
        </div>
    </div>
    <!-- Main Navigation-->
    <nav class="site-menu">
        <ul>
            <li routerLinkActive="active"><a routerLink="/index/categorias"><span>Categorias</span></a>
            </li>
            <li routerLinkActive="active"><a routerLink="/productos"><span>Productos</span></a>
            </li>

            <!--  <li routerLinkActive="active"><a routerLink="/admin-prod"><span>Administracion</span></a>
                <ul class="sub-menu">
                    <li><a routerLink="/admin-prod">Listado Productos</a></li>
                    <li routerLinkActive="active">
                        <a routerLink="/admin-prod/nuevo">Nuevo Producto</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/admin-prod/categorias">Detalle categorias</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/admin-prod/marcas">Detalle marcas</a>
                    </li>
                </ul>
            </li> -->

            <li routerLinkActive="active"><a routerLink="/perfil"><span>Mi Perfil</span></a>

            </li>
        </ul>
    </nav>
    <!-- Toolbar-->
    <div class="toolbar">
        <div class="inner">
            <div class="tools">
                <div class="search"><i class="icon-search"></i></div>
                <div class="account">
                    <a href="account-orders.html"></a><i class="icon-head"></i>
                    <ul class="toolbar-dropdown">
                        <li class="sub-menu-user">
                            <div class="user-ava"><img [src]="usuario.img | imagen" alt="usuario">
                            </div>
                            <div class="user-info">
                                <h6 class="user-name">{{ usuario.nombre }}</h6>
                                <span class="text-xs text-muted">{{ usuario.email }}</span>
                            </div>
                        </li>
                        <li routerLinkActive="active"><a routerLink="/perfil">Mi Perfil</a></li>
                        <li routerLinkActive="active"><a href="account-orders.html">Compras</a></li>
                        <li routerLinkActive="active"><a href="account-wishlist.html">Me Gusta</a></li>
                        <li class="sub-menu-separator"></li>
                        <li>
                            <a (click)="_usuarioService.logout()"> <i class="icon-unlock"></i>Salir</a>
                        </li>
                    </ul>
                </div>


                <div class="cart">
                    <a routerLink="/cartList"></a><i class="icon-bag"></i><span class="count" id="cart">0</span><span id="subtotal" class="subtotal">$0.00</span>

                </div>

            </div>
        </div>
    </div>
</header>