<!-- Shop Toolbar-->
<div class="column">
    <div class="shop-sorting">
        <label for="sorting">Sort by:</label>
        <select class="form-control" id="sorting">
                <option>Popularity</option>
                <option>Low - High Price</option>
                <option>High - Low Price</option>
                <option>Avarage Rating</option>
                <option>A - Z Order</option>
                <option>Z - A Order</option>
            </select>
        <span class="text-muted">Showing:&nbsp;</span><span>1 - 12 items</span>
    </div>
</div>