<!-- Page Title-->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Checkout Mercado Pago</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li><a routerLink="/productos">Inicio</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>Forma de Pago</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Content-->
<div class="container padding-bottom-3x mb-1">

    <div class="row animated fadeIn">

        <div class="container padding-bottom-1x mb-2">
            <div class="card text-center">
                <div class="card-body padding-top-2x">
                    <h3 class="card-title">Gracias por tu compra!</h3>
                    <p class="card-text">Su pedido se ha realizado y se procesará lo antes posible</p>
                    <p class="card-text">su número de pedido es el: <span class="text-medium"> 0-0000 </span></p>
                    <p class="card-text">Este es el detalle de tu ultima compra:
                        <a routerLink="">Mi Compra</a>
                    </p>

                    <div class="row" *ngIf="!loading">

                        <div class="col-md-12">

                            <div class="alert alert-warning text-center">
                                <strong>Cargando Mecado Pago...</strong>
                                <br>
                                <i class="fa fa-refresh fa-spin fa-2x"></i>
                                <br>
                                <span>Espere por favor!</span>
                            </div>
                        </div>

                    </div>

                    <div *ngIf="loading" class="card-body">
                        <iframe [src]="url | safeUrl" width="100%" height="600" frameborder="0"></iframe>
                    </div>


                    <div class="padding-top-1x padding-bottom-1x"><a class="btn btn-outline-secondary" routerLink="/productos">Volver a Productos</a><a class="btn btn-outline-primary" href="order-tracking.html"><i class="icon-location"></i>&nbsp;Seguir Pedido</a></div>
                </div>
            </div>
        </div>


    </div>
</div>