<!-- Page Title-->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Forma de Pago</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li><a routerLink="/productos">Inicio</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>Forma de Pago</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Content-->
<div class="container padding-bottom-3x mb-2">
    <div class="row animated fadeIn">
        <!-- Checkout Adress-->
        <div class="col-xl-9 col-lg-8">
            <div class="checkout-steps text-left">
                <a routerLink="/confirm-pago">3. Confirmar Pago</a>
                <a class="active" routerLink="/checkout-pago">
                    <span class="angle"></span>2. Forma de Pago</a>
                <a class="completed" routerLink="/checkout-address">
                    <span class="step-indicator icon-circle-check"></span>
                    <span class="angle"></span>1. Envio</a>
            </div>
            <h4>Elegí una Forma de Pago</h4>
            <hr class="padding-bottom-1x">
            <div class="accordion" id="accordion" role="tablist">
                <div class="card">
                    <div class="card-header" role="tab">
                        <h6><a class="collapsed" href="#points" data-toggle="collapse" data-parent="#accordion"><i class="far fa-money-bill-alt"></i> Pago Efectivo </a></h6>
                    </div>
                    <div class="collapse" id="points" role="tabpanel">
                        <div class="card-body">
                            <p class="text-primary">Seleccionando esta opción el pago total de la compra se realizara al momento de retirar tu pedido por nuestro local.</p>
                            <div class="custom-control custom-radio mb-0">
                                <input class="custom-control-input" type="radio" id="1" name="pago" (change)="formaPago('Pago en Efectivo')">
                                <label class="custom-control-label" for="1"><strong> pagar en efectivo. </strong></label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab">
                        <h6><a href="#card" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" class="collapsed"><i class="fab fa-cc-mastercard"></i> <i class="fab fa-cc-visa"></i> Mercado Pago  </a></h6>
                    </div>
                    <div class="collapse" id="card" role="tabpanel">
                        <div class="card-body">
                            <p class="text-primary">
                                <a href="https://www.mercadopago.com.ar/" target="_blank">
                                    Mercado Pago
                                </a>(pagos online)</p>
                            <p class="text-muted">No tengo cuenta en Mercado Pado.
                                <a href="https://www.mercadopago.com.ar/registration-mp?mode=mp" target="_blank"> Registrarme </a>
                            </p>
                            <div class="custom-control custom-radio mb-0">
                                <input class="custom-control-input" type="radio" id="2" name="pago" (change)="formaPago('Mercado Pago')">
                                <label class="custom-control-label" for="2"> <strong>Selecciono Mercado Pago.</strong></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="checkout-footer margin-top-1x">
                <div class="column"><a class="btn btn-outline-secondary" routerLink="/checkout-address"><i class="icon-arrow-left"></i><span class="hidden-xs-down">&nbsp;Volver</span></a></div>
                <div class="column" *ngIf="this.pago"><a class="btn btn-primary" routerLink="/confirm-pago"><span class="hidden-xs-down">Continuar</span></a></div>
                <div class="column" *ngIf="!this.pago"><a class="btn btn-default">Seleccione Pago</a></div>
            </div>
        </div>


        <!-- Sidebar          -->
        <div class="col-xl-3 col-lg-4">

            <app-sidebar></app-sidebar>

        </div>


    </div>
</div>