<div class="row">
    <div class="col-lg-10 col-md-10 order-md-2">
        <h6 class="text-muted text-normal text-uppercase">Detalle de Marcas</h6>
        <hr class="margin-bottom-1x">
  
        <form >
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="normal-pill-input">Nombre de la marca</label>
                        <input class="form-control">
                    </div>
                </div>
            </div> <br>
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>John</td>
                        <td>Doe</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Anna</td>
                        <td>Cabana</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Kale</td>
                        <td>Thornton</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Jane</td>
                        <td>Birkins</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>  
            </div>
        </form>  
    </div>     
  </div>  