<!-- Page Title-->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Mis Compras</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li><a routerLink="/productos">Inicio</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>Mis Compras</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Content-->
<div class="container padding-bottom-3x mb-1">

    <div *ngIf="!productos.length" class="alert alert-primary alert-dismissible fade show text-center margin-bottom-1x">
        <span class="alert-close" data-dismiss="alert">
        </span><i class="icon-bag"></i>&nbsp;&nbsp;<strong>No hay Productos seleccionados para la compra</strong>&nbsp;&nbsp;
        <a routerLink="/productos"> Comprar </a>
    </div>

    <!-- Shopping Cart-->
    <div *ngIf="productos.length" class="table-responsive shopping-cart">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Producto Seleccionado</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">Precio</th>
                    <th class="text-center">Subtotal</th>
                    <th class="text-center"><button (click)="eliminartodo()" class="btn btn-sm btn-outline-danger" href="#">Eliminar Todo</button></th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let producto of productos; let i=index">
                    <td>{{i+1}}</td>
                    <td>
                        <div class="product-item">
                            <a class="product-thumb" href="shop-single.html"><img [src]="producto.imagen | imagen:'producto'" alt="{{ producto.nombre }}"></a>
                            <div class="product-info">
                                <h4 class="product-title"><a href="shop-single.html">{{ producto.nombre }}</a></h4>
                                <span *ngIf="producto.descuento" class="text-danger"><em></em> Descuento %{{ producto.descuento }} </span>
                                <span><em></em> {{ producto.descripcion }} </span>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="count-input">
                            <select (change)="cambioCantidad()" [(ngModel)]="producto.cantidad" name="cantidad" class="form-control" required>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </td>
                    <td *ngIf="producto.descuento" class="text-center text-lg text-medium">${{ producto.precio_desc }}</td>

                    <td *ngIf="producto.descuento" class="text-center text-lg text-medium">${{ producto.precio_desc * producto.cantidad }}</td>



                    <td *ngIf="!producto.descuento" class="text-center text-lg text-medium"> ${{ producto.precio }}</td>

                    <td *ngIf="!producto.descuento" class="text-center text-lg text-medium"> ${{ producto.precio * producto.cantidad }}</td>

                    <td class="text-center"><a (click)="eleminarCart(i)" class="remove-from-cart" [href]="" data-toggle="tooltip" title="Borrar"><i class="icon-cross"></i></a></td>
                </tr>

            </tbody>
        </table>
        <div class="shopping-cart-footer">
            <div class="column">

            </div>
            <div class="column text-lg">Subtotal: <span class="text-medium"> ${{_productoService.subTotal}} </span></div>
        </div>
    </div>

    <div *ngIf="productos.length" class="shopping-cart-footer">
        <div class="column"><a class="btn btn-outline-secondary" routerLink="/productos"><i class="icon-arrow-left"></i>&nbsp;Volver</a></div>
        <div class="column">

            <a class="btn btn-primary" routerLink="/checkout-address">
                Continuar
            </a>
        </div>
    </div>
    <!-- Featured Products Carousel-->
    <section *ngIf="!productos.length" class="padding-top-3x padding-bottom-3x text-center animated fadeIn">
        <h3 class="text-center mb-30">Puede Interesarte</h3>

        <div class="animated fadeIn">

            <!-- Product-->
            <div *ngFor="let producto of prodInteres" class="col-md-3 d-inline-block">
                <div *ngIf="producto.descuento" class="grid-item">
                    <div class="product-card">
                        <div class="product-badge text-danger">{{producto.descuento}}% Off</div>
                        <a class="product-thumb" routerLink="/busqueda/{{producto.nombre}}"><img [src]="producto.imagen | imagen:'producto'" alt="{{ producto.nombre }}"></a>
                        <h3 class="product-title"><a href="shop-single.html">{{producto.nombre}}</a></h3>
                        <h4 class="product-price">
                            <del>${{producto.precio}}</del>${{producto.precio_desc}}
                        </h4>
                        <div class="product-buttons">
                            <a class="btn btn-outline-primary btn-sm" routerLink="/busqueda/{{producto.nombre}}">
                                <i class="icon-search"></i> Ver Producto
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Product-->
                <div *ngIf="!producto.descuento" class="grid-item">
                    <div class="product-card">
                        <a class="product-thumb" routerLink="/busqueda/{{producto.nombre}}"><img [src]="producto.imagen | imagen:'producto'" alt="{{ producto.nombre }}"></a>
                        <h3 class="product-title"><a href="shop-single.html">{{producto.nombre}}</a></h3>
                        <h4 class="product-price">${{producto.precio}}</h4>
                        <div class="product-buttons">
                            <a class="btn btn-outline-primary btn-sm" routerLink="/busqueda/{{producto.nombre}}">
                                <i class="icon-search"></i> Ver Producto
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>