<!-- Page Title-->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Login / Nuevo Registro</h1>
        </div>
    </div>
</div>
<!-- Page Content-->
<div class="container padding-bottom-3x mb-2">
    <div class="row">
        <div class="col-md-6">

            <div class="row margin-bottom-1x">
                <!-- <div class="col-xl-4 col-md-6 col-sm-4"><a class="btn btn-sm btn-block facebook-btn" href="#"><i class="socicon-facebook"></i>&nbsp;Facebook login</a></div>
                    <div class="col-xl-4 col-md-6 col-sm-4"><a class="btn btn-sm btn-block twitter-btn" href="#"><i class="socicon-twitter"></i>&nbsp;Twitter login</a></div> -->

                <div class="col-xl-4 col-md-6 col-sm-4">
                    <button class="btn btn-sm google-btn" id="btnGoogle">
                            <i class="socicon-googleplus"></i>&nbsp;Ingresa con Google
                        </button>
                </div>

            </div>
            <form #f="ngForm" class="login-box" (ngSubmit)="ingresar( f )" method="post">
                <h4 class="margin-bottom-1x">Inicio de Seccion</h4>

                <div class="form-group input-group">
                    <input class="form-control" [ngModel]="email" name="email" type="email" placeholder="Email" required><span class="input-group-addon"><i class="icon-mail"></i></span>
                </div>

                <div class="form-group input-group">
                    <label for="reg-email"><span class="text-danger">prueba: 123</span></label>
                    <input class="form-control" ngModel name="password" type="password" placeholder="" required><span class="input-group-addon"></span>
                </div>


                <div class="d-flex flex-wrap justify-content-between padding-bottom-1x">
                    <div class="custom-control custom-checkbox">
                        <input [(ngModel)]="recuerdame" name="recuerdame" class="custom-control-input" type="checkbox" id="remember_me" checked>
                        <label class="custom-control-label" for="remember_me">Recuérdame</label>
                    </div><a class="navi-link" routerLink="/recupero_login">olvide la contraseña!</a>
                </div>
                <div class="text-center text-sm-right">
                    <button *ngIf="!cargando" class="btn btn-primary margin-bottom-none" type="submit">Ingresar</button>
                    <button *ngIf="cargando" class="btn btn-success margin-bottom-none btn-block">
                            <i class="fas fa-sync fa-spin fa-1x"></i>
                            Cargando..
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="padding-top-3x hidden-md-up"></div>
            <h3 class="margin-bottom-1x">
                Regístrate Gratis!
            </h3>
            <p>Registro de un nuevo usuario.</p>
            <form [formGroup]="formaregistro" (ngSubmit)="registrarUsuario()" class="row" method="post">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="reg-fn">Nombre</label>
                        <input formControlName="nombre" class="form-control" type="text" id="reg-fn" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="reg-ln">Apellido</label>
                        <input formControlName="apellido" class="form-control" type="text" id="reg-ln" required>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="reg-email">Email</label>
                        <input formControlName="correo" name="correo" class="form-control" type="email" id="reg-email" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="reg-pass">Password</label>
                        <input formControlName="password1" name="password1" class="form-control" type="password" id="reg-pass" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="reg-pass-confirm">Confirmar Password</label>
                        <input formControlName="password2" name="password2" class="form-control" type="password" id="reg-pass-confirm" required>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group" *ngIf="formaregistro.errors?.sonIguales && !formaregistro.pristine">
                        <p class="text-danger">
                            Las contraseñas deben de se iguales
                        </p>
                    </div>
                </div>

                <div class="col-12 text-center text-sm-right">
                    <button class="btn btn-primary margin-bottom-none" type="submit">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>