<!-- Off-Canvas Wrapper-->
<div class="offcanvas-wrapper">

    <!-- Page Content-->
    <div class="container padding-top-3x padding-bottom-3x mb-1"><img class="d-block m-auto" src="assets/404_art.jpg" style="width: 100%; max-width: 550px;" alt="404">
        <div class="padding-top-1x mt-2 text-center">
            <h3>La Pagina No Funciona</h3>
            <p>
                Parece que no podemos encontrar la página que estás buscando. <br>
                <a routerLink="/index/categorias">
                  Volver a la página principal</a>
            </p>
        </div>
    </div>

</div>