<!-- Page Title-->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Dirección de Envio</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li><a routerLink="/productos">Inicio</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>Dirección de Envio</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Content-->
<div class="container padding-bottom-3x mb-2">
    <div class="row">
        <!-- Checkout Adress-->
        <div class="col-xl-9 col-lg-8">
            <div class="checkout-steps">
                <a routerLink="checkout-review.html">3. Confirmar Pago</a>
                <a routerLink="/checkout-pago">
                    <span class="angle"></span>2. Forma de Pago</a>
                <a class="active" routerLink="/checkout-address">
                    <span class="angle"></span>1. Envio</a>
            </div>

            <h4>Donde te lo enviamos?</h4>
            <hr class="padding-bottom-1x">
            <div class="row">
                <div class="col-md-12">
                    <ul class="post-meta">
                        <li>
                            <i class="icon-head"></i>&nbsp;
                            <span>&nbsp; usuario: {{usuario.nombre}} {{usuario.apellido}}</span>
                            <span>&nbsp; email: {{usuario.email}}</span>
                            <span>&nbsp; Tel: {{usuario.telefono}}</span>
                        </li>
                    </ul>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-default">
                            <tr>
                                <th></th>
                                <th>Direcciones</th>
                                <th>Tiempo Estimado</th>
                                <th>Envio/Retiro</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ubicacion of ubicaciones; let i = index">
                                <td class="align-middle">
                                    <div class="custom-control custom-radio mb-0">
                                        <input class="custom-control-input" type="radio" id="{{i}}" name="ubicacion" (change)="dirrecionCart(ubicacion._id)">
                                        <label class="custom-control-label" for="{{i}}"></label>
                                    </div>
                                </td>
                                <td class="align-middle"><span class="text-medium">{{ ubicacion.direccion }} {{ ubicacion.altura }} </span><br><span class="text-muted text-sm">All Addresses(default zone), United States &amp; Canada</span></td>
                                <td class="align-middle">Demora 45 minutos aprox.</td>
                                <td class="align-middle">$10.00</td>
                                <td class="text-center">
                                    <a class="remove-from-cart text-danger" [href]="" (click)="_ubicacion.eliminarUbicacion( )" data-toggle="tooltip" title="Borrar">
                                        <i class="icon-cross"></i>
                                    </a>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="align-middle">
                                    <div class="custom-control custom-radio mb-0">
                                        <input class="custom-control-input" type="radio" id="local" name="ubicacion" (change)="dirrecionCart('local')">
                                        <label class="custom-control-label" for="local"></label>
                                    </div>
                                </td>
                                <td class="align-middle"><span class="text-medium">Retiro por el Comercio</span><br><span class="text-muted text-sm">Alen 1358 (Local 1 Galeria II) &amp; Tandil</span></td>
                                <td class="align-middle text-danger">en 15 minutos</td>
                                <td class="align-middle text-danger">$00.00</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="accordion" id="accordion" role="tablist">
                <div class="card">
                    <div class="card-header" role="tab">
                        <h6><a href="#card" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" class="collapsed"><i class="far fa-compass"></i> Agregar Ubicación</a></h6>
                    </div>
                    <div class="collapse" id="card" role="tabpanel">
                        <div class="card-body">

                            <form [formGroup]="form" (ngSubmit)="registrarDireccion( form.value )" class="interactive-credit-card row">
                                <div class="form-group col-sm-6">
                                    <input class="form-control" type="text" name="direccion" formControlName="direccion" placeholder="Direccion" required>
                                </div>
                                <div class="form-group col-sm-3">
                                    <input class="form-control" type="number" name="altura" formControlName="altura" placeholder="Número" required>
                                </div>
                                <div class="form-group col-sm-3">
                                    <input class="form-control" type="text" name="piso" formControlName="piso" placeholder="Piso / Dpto">
                                </div>
                                <div class="form-group col-sm-6">
                                    <select class="form-control" formControlName="ubicacion_tipo" id="select-input">
                                                <option>Casa</option>
                                                <option>Edificio</option>
                                                <option>Banco</option>
                                                <option>Institución</option>
                                                
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <input class="form-control" type="text" name="telefono" formControlName="telefono" placeholder="Teléfono">
                                </div>
                                <div class="form-group col-sm-12">
                                    <input class="form-control" type="text" name="entre_calles" formControlName="entre_calles" placeholder="Entre calles">
                                </div>

                                <div class="col-sm-12 text-right">
                                    <button [disabled]="!form.valid" class="btn btn-outline-primary" type="submit">Agrgar Ubicación</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="padding-bottom-1x">

            <div class="checkout-footer">
                <div class="column"><a class="btn btn-outline-secondary" routerLink="/cartList"><i class="icon-arrow-left"></i><span class="hidden-xs-down">&nbsp;Volvar atras</span></a></div>
                <div class="column"><a class="btn btn-primary" (click)="addCart()"><span class="hidden-xs-down">Continuar&nbsp;</span><i class="icon-arrow-right"></i></a></div>
            </div>
        </div>
        <!-- Sidebar          -->
        <div class="col-xl-3 col-lg-4">
            <aside class="sidebar">
                <div class="padding-top-2x hidden-lg-up"></div>
                <!-- Order Summary Widget-->
                <section class="widget widget-order-summary">
                    <h3 class="widget-title">Total del Pedido</h3>
                    <table class="table">
                        <tr>
                            <td>Productos Subtotal:</td>
                            <td class="text-medium">${{ subTotal }}</td>
                        </tr>
                        <tr>
                            <td>Costo Envio/Retiro</td>
                            <td class="text-medium">$0.00</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="text-lg text-medium">$315.60</td>
                        </tr>
                    </table>
                </section>
                <!-- Featured Products Widget-->
                <section class="widget widget-featured-products">
                    <h3 class="widget-title">Recently Viewed</h3>
                    <!-- Entry-->
                    <div class="entry">
                        <div class="entry-thumb">
                            <a href="shop-single.html"><img src="img/shop/widget/01.jpg" alt="Product"></a>
                        </div>
                        <div class="entry-content">
                            <h4 class="entry-title"><a href="shop-single.html">Oakley Kickback</a></h4><span class="entry-meta">$155.00</span>
                        </div>
                    </div>
                    <!-- Entry-->
                    <div class="entry">
                        <div class="entry-thumb">
                            <a href="shop-single.html"><img src="img/shop/widget/02.jpg" alt="Product"></a>
                        </div>
                        <div class="entry-content">
                            <h4 class="entry-title"><a href="shop-single.html">Top-Sider Fathom</a></h4><span class="entry-meta">$90.00</span>
                        </div>
                    </div>
                    <!-- Entry-->
                    <div class="entry">
                        <div class="entry-thumb">
                            <a href="shop-single.html"><img src="img/shop/widget/03.jpg" alt="Product"></a>
                        </div>
                        <div class="entry-content">
                            <h4 class="entry-title"><a href="shop-single.html">Vented Straw Fedora</a></h4><span class="entry-meta">$49.50</span>
                        </div>
                    </div>
                    <!-- Entry-->
                    <div class="entry">
                        <div class="entry-thumb">
                            <a href="shop-single.html"><img src="img/shop/widget/04.jpg" alt="Product"></a>
                        </div>
                        <div class="entry-content">
                            <h4 class="entry-title"><a href="shop-single.html">Big Wordmark Tote</a></h4><span class="entry-meta">$29.99</span>
                        </div>
                    </div>
                </section>
                <!-- Promo Banner-->
                <section class="promo-box" style="background-image: url(img/banners/02.jpg);"><span class="overlay-dark" style="opacity: .4;"></span>
                    <div class="promo-box-content text-center padding-top-2x padding-bottom-2x">
                        <h4 class="text-light text-thin text-shadow">New Collection of</h4>
                        <h3 class="text-bold text-light text-shadow">Sunglasses</h3><a class="btn btn-outline-white btn-sm" href="shop-grid-ls.html">Shop Now</a>
                    </div>
                </section>
            </aside>
        </div>
    </div>
</div>