<!-- Page Title-->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Compra Finalizada</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li><a routerLink="/productos">Inicio</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>Compra Finalizada</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Content-->
<div class="animated fadeIn">
    <div class="container padding-bottom-1x mb-2">
        <div class="card text-center">
            <div class="card-body padding-top-2x">
                <h3 class="card-title">Gracias por tu compra!</h3>
                <p class="card-text">Su pedido se ha realizado y se procesará lo antes posible</p>
                <p class="card-text">su número de pedido es el: <span class="text-medium"> {{ idcompra }} </span></p>
                <p class="card-text">Este es el detalle de tu ultima compra:
                    <a routerLink="/detallecompra/{{ idcompra }} ">Ver ultima compra</a>
                </p>
                <div class="padding-top-1x padding-bottom-1x"><a class="btn btn-outline-secondary" routerLink="/productos">Volver a Productos</a>
                    <a class="btn btn-outline-primary" routerLink="/compras"><i class="icon-location"></i>Seguir Pedido</a></div>
            </div>
        </div>
    </div>
</div>