<!-- Products Grid-->
<div class="isotope-grid cols-3 mb-2">

    <div class="gutter-sizer"></div>

    <div class="grid-sizer"></div>

    <!-- Product con Descuento -->
    <div *ngFor="let producto of productos">
        <div class="grid-item" *ngIf="producto.descuento">
            <div class="product-card">
                <div class="product-badge text-danger">{{producto.descuento}}% OFF</div>
                <a class="product-thumb" href="shop-single.html"><img [src]="producto.imagen | imagen:'producto'" alt="{{ producto.nombre }}"></a>
                <h3 class="product-title"><a href="shop-single.html">{{ producto.nombre }}</a></h3>
                <h4 class="product-price">
                    <del>{{ producto.precio }}</del>${{producto.precio_desc}}
                </h4>
                <div class="product-buttons">
                    <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist"><i class="icon-heart"></i></button>
                    <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fas fa-shopping-cart"></i> Agregar </button>
                </div>
            </div>
        </div>

        <div class="grid-item" *ngIf="!producto.descuento">
            <div class="product-card">
                <a class="product-thumb" href="shop-single.html"><img [src]="producto.imagen | imagen:'producto'" alt="Product"></a>
                <h3 class="product-title"><a href="shop-single.html">{{ producto.nombre }}</a></h3>
                <h4 class="product-price">${{ producto.precio }}</h4>
                <div class="product-buttons">
                    <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist"><i class="icon-heart"></i></button>
                    <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fas fa-shopping-cart"></i> Agregar </button>
                </div>
            </div>
        </div>

    </div>

</div>