<!-- Product Lsit-->
<div *ngFor="let producto of productos" class="product-card product-list animated fadeIn">

    <!-- Prod con descuento -->
    <div *ngIf="producto.descuento">
        <a class="product-thumb">

            <div *ngIf="producto.linkmercadopago" class="rating-stars">
                <img src="assets/img/mercadopago/mpago2.jpg" alt="mercado pago">
            </div>

            <div class="product-badge text-danger">
                {{producto.descuento}}% Off
            </div>
            <img [src]="producto.imagen | imagen:'producto'" alt="{{ producto.nombre }}">
        </a>

        <div class="product-info">
            <h3 class="product-title"><a>{{producto.nombre}}</a></h3>
            <h4 *ngIf="producto.precio_desc" class="product-price">
                <del>${{producto.precio}}</del>${{producto.precio_desc}}
            </h4>
            <p class="hidden-xs-down">{{producto.descripcion}}</p>

            <div class="product-buttons">
                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Deseo"><i class="icon-heart"></i></button>
                <button (click)="obtenerProducto(producto._id, producto.precio_desc)" class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-title="Correcto" data-toast-message="Producto Agregado!">
                                <i class="fas fa-shopping-cart"></i> Agregar
                </button>
                <a *ngIf="producto.linkmercadopago" class="btn btn-outline-danger btn-sm" href="{{ producto.linkmercadopago }}" target="_black">
                    <i class="icon-link"></i> pagar
                </a>
            </div>

        </div>
    </div>

    <!-- Prod sin descuento -->
    <div *ngIf="!producto.descuento">

        <div *ngIf="producto.linkmercadopago" class="rating-stars">
            <img src="assets/img/mercadopago/mpago2.jpg" alt="mercado pago">
        </div>

        <a class="product-thumb">

            <img [src]="producto.imagen | imagen:'producto'" alt="Product">
        </a>

        <div class="product-info">
            <h3 class="product-title"><a>{{producto.nombre}}</a></h3>
            <h4 class="product-price">
                ${{producto.precio}}
            </h4>
            <p class="hidden-xs-down">{{producto.descripcion}}</p>
            <div class="product-buttons">
                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Deseo"><i class="icon-heart"></i></button>
                <button (click)="obtenerProducto(producto._id, producto.precio)" class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-title="Correcto" data-toast-message="Producto Agregado!">
                    <i class="fas fa-shopping-cart"></i> Agregar
                </button>
                <a *ngIf="producto.linkmercadopago" class="btn btn-outline-danger btn-sm" href="{{ producto.linkmercadopago }}" target="_black">
                    <i class="icon-link"></i> pagar
                </a>
            </div>
        </div>
    </div>


</div>