<div class="offcanvas-wrapper">
    <!-- Page Title-->
    <div class="page-title">
        <div class="container">
            <div class="column">
                <h1>Mi Perfil</h1>
            </div>
            <div class="column">
                <ul class="breadcrumbs">
                    <li><a routerLink="/productos">Inicio</a>
                    </li>
                    <li class="separator">&nbsp;</li>
                    <li>Perfil de usuario</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Page Content-->
    <div class="container padding-bottom-3x mb-2">
        <div class="row animated fadeIn">
            <div class="col-lg-4">
                <aside class="user-info-wrapper">
                    <div class="user-cover" style="background-image: url(../assets/img/account/user-cover-img.jpg);">
                        <!-- <i class="icon-medal"></i>290 points -->
                        <button (click)="cambiarImagen()" [disabled]="!imagenSubir" class="btn btn-sm btn-info">Cambiar</button>
                    </div>
                    <div class="user-info">
                        <div class="user-avatar">
                            <input (change)="seleccionImage($event.target.files[0])" type="file" class="edit-avatar">
                            <img [src]="usuario.img | imagen" alt="Foto">
                        </div>
                        <div class="user-data">
                            <h4>{{ usuario.nombre }} {{ usuario.apellido }}</h4><span>{{ usuario.fecha }}</span>
                        </div>
                    </div>
                </aside>
                <nav class="list-group">
                    <a routerLink="/perfil" class="list-group-item"><i class="icon-head"></i>Mi Perfil</a>
                    <a class="list-group-item with-badge active" routerLink="/compras">
                        <i class="icon-bag"></i>Mis compras
                    </a>
                </nav>
            </div>

            <div *ngIf="cart.length > 0" class="col-lg-8">
                <div class="padding-top-2x mt-2 hidden-lg-up"></div>
                <div class="table-responsive">
                    <table class="table table-hover margin-bottom-none">
                        <thead>
                            <tr>
                                <th>N° Compra</th>
                                <th>Usuario</th>
                                <th>Forma de Pago</th>
                                <th class="text-center">Fecha</th>
                                <th>Estado de Compra</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let compra of cart">
                                <td><a class="text-medium navi-link" routerLink="/detallecompra/{{compra.idCompra}}">{{compra.idCompra}}</a></td>
                                <td>{{compra.usuario.email}}</td>
                                <td>{{compra.pago}}</td>
                                <td>{{compra.fecha}} {{compra.hora}}</td>
                                <td><span class="text-warning">{{compra.estado}}</span></td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>

            <div *ngIf="!cart.length" class="col-lg-8">

                <div class="alert alert-success text-center fade show">
                    <strong>Cargando...</strong>
                    <br>
                    <i class="fa fa-refresh fa-spin fa-2x"></i>
                    <br>
                    <span>Espere por favor!</span>
                </div>

            </div>


        </div>
    </div>

</div>