<div class="offcanvas-wrapper">
    <!-- Page Title-->
    <div class="page-title">
        <div class="container">
            <div class="column">
                <h1>Mi Perfil</h1>
            </div>
            <div class="column">
                <ul class="breadcrumbs">
                    <li><a routerLink="/productos">Inicio</a>
                    </li>
                    <li class="separator">&nbsp;</li>
                    <li>Perfil de usuario</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Page Content-->
    <div class="container padding-bottom-3x mb-2">
        <div class="row animated fadeIn">
            <div class="col-lg-4">
                <aside class="user-info-wrapper">
                        <div class="user-cover" style="background-image: url(../assets/img/account/user-cover-img.jpg);">
                        <!-- <i class="icon-medal"></i>290 points -->
                        <button (click)="cambiarImagen()" [disabled]="!imagenSubir" class="btn btn-sm btn-info">Cambiar</button>
                    </div>
                    <div class="user-info">
                        <div class="user-avatar">
                            <input (change)="seleccionImage($event.target.files[0])" type="file" class="edit-avatar">
                            <img [src]="usuario.img | imagen" alt="Foto">
                        </div>
                        <div class="user-data">
                            <h4>{{ usuario.nombre }} {{ usuario.apellido }}</h4><span>{{ usuario.fecha | date:'longDate' }}</span>
                        </div>
                    </div>
                </aside>
                <nav class="list-group">
                    <a routerLink="/perfil" class="list-group-item"><i class="icon-head"></i>Mi Perfil</a>
                    <a class="list-group-item with-badge active" routerLink="/compras">
                        <i class="icon-bag"></i>Mis compras<span class="badge badge-primary badge-pill">6</span>
                    </a>
                </nav>
            </div>

            <div class="col-lg-8">
                <div class="padding-top-2x mt-2 hidden-lg-up"></div>
                <div class="table-responsive">
                  <table class="table table-hover margin-bottom-none">
                    <thead>
                      <tr>
                        <th>Ticket Subject</th>
                        <th>Date Submitted | Updated</th>
                        <th>Type</th>
                        <th>Priority</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a class="text-medium navi-link" href="account-single-ticket.html">My new ticket</a></td>
                        <td>08/08/2017 | 08/14/2017</td>
                        <td>Website problem</td>
                        <td><span class="text-warning">High</span></td>
                        <td><span class="text-primary">Open</span></td>
                      </tr>
                      <tr>
                        <td><a class="text-medium navi-link" href="account-single-ticket.html">Another ticket</a></td>
                        <td>07/21/2017 | 07/23/2017</td>
                        <td>Partner request</td>
                        <td><span class="text-info">Medium</span></td>
                        <td><span class="text-muted">Closed</span></td>
                      </tr>
                      <tr>
                        <td><a class="text-medium navi-link" href="account-single-ticket.html">Yet another ticket</a></td>
                        <td>05/19/2017 | 05/20/2017</td>
                        <td>Complaint</td>
                        <td><span class="text-danger">Urgent</span></td>
                        <td><span class="text-muted">Closed</span></td>
                      </tr>
                      <tr>
                        <td><a class="text-medium navi-link" href="account-single-ticket.html">My old ticket</a></td>
                        <td>05/19/2017 | 05/20/2017</td>
                        <td>Info inquiry</td>
                        <td><span class="text-success">Low</span></td>
                        <td><span class="text-muted">Closed</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <hr class="mb-4">
                <div class="text-right">
                  <button class="btn btn-primary margin-bottom-none" data-toggle="modal" data-target="#openTicket">Submit New Ticket</button>
                </div>
              </div>

        </div>
    </div>

</div>