<!-- Page Title-->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Administracion de Productos</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li><a routerLink="/">Inicio</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>Administracion</li>
            </ul>
        </div>
    </div>
</div>

<!-- Page Content-->
<div class="container padding-bottom-3x mb-1">
    <div class="row">
        <!-- Products-->
        <div class="col-xl-9 col-lg-8 order-lg-2">

            <router-outlet></router-outlet>

        </div>

        <!-- Sidebar -->
        <div class="col-xl-3 col-lg-4 order-lg-1">
            <!-- <app-barra-lateral></app-barra-lateral> -->
        </div>

    </div>
</div>