<!-- Main Slider-->
<section class="hero-slider" style="background-image: url(../assets/img/hero-slider/main-bg.jpg);">
    <div class="owl-carousel large-controls dots-inside" data-owl-carousel="{ &quot;nav&quot;: true, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 7000 }">
        <div class="item">
            <div class="container padding-top-3x">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center">
                        <div class="from-bottom"><img class="d-inline-block mb-4" src="../assets/img/hero-slider/logo-pidogancho.png" alt="Puma">
                            <div class="h2 text-body text-normal mb-2 pt-1">Mochilas y Utiles</div>
                            <div class="h2 text-body text-normal mb-4 pb-1">Promociones y Descuentos <span class="text-bold">$590.00</span></div>
                        </div><a class="btn btn-primary scale-up delay-1" href="shop-grid-ls.html">Ingresar</a>
                    </div>
                    <div class="col-md-6 padding-bottom-2x mb-3"><img class="d-block mx-auto" src="../assets/img/hero-slider/mochila.png" alt="Puma Backpack"></div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container padding-top-3x">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center">
                        <div class="from-bottom"><img class="d-inline-block mb-4" src="../assets/img/hero-slider/logo-pidogancho.png" alt="Converse">
                            <div class="h2 text-body text-normal mb-2 pt-1">Varidad de Golosinas</div>
                            <div class="h2 text-body text-normal mb-4 pb-1">Promociones y Descuentos <span class="text-bold">$60.00</span></div>
                        </div><a class="btn btn-primary scale-up delay-1" href="shop-single.html">Ingresar</a>
                    </div>
                    <div class="col-md-6 padding-bottom-2x mb-3"><img class="d-block mx-auto" src="../assets/img/hero-slider/golosinas.png" alt="Chuck Taylor All Star II"></div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container padding-top-3x">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center">
                        <div class="from-bottom"><img class="d-inline-block mb-4" src="../assets/img/hero-slider/logo-pidogancho.png" alt="Motorola">
                            <div class="h2 text-body text-normal mb-2 pt-1">Articulos de libreria</div>
                            <div class="h2 text-body text-normal mb-4 pb-1">Promociones y Descuentos <span class="text-bold">$79.00</span></div>
                        </div><a class="btn btn-primary scale-up delay-1" href="shop-single.html">Ingresar</a>
                    </div>
                    <div class="col-md-6 padding-bottom-2x mb-3"><img class="d-block mx-auto" src="../assets/img/hero-slider/libreria.png" alt="Moto 360"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Top Categories-->
<section class="container padding-top-3x">
    <h3 class="text-center mb-30">Categorias</h3>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="card mb-30">
                <a class="card-img-tiles" href="shop-grid-ls.html">
                    <div class="inner">
                        <div class="main-img"><img src="../assets/img/categorias/alfajor.jpg" alt="Category"></div>
                        <div class="thumblist"><img src="../assets/img/categorias/caramelo.jpg" alt="Category"><img src="../assets/img/categorias/chupetin.jpg" alt="Category"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Golosinas</h4>
                    <p class="text-muted">Alfajores dede $10.00</p><a class="btn btn-outline-primary btn-sm" href="shop-grid-ls.html"><i class="icon-search"></i> Ver Productos</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card mb-30">
                <a class="card-img-tiles" href="shop-grid-ls.html">
                    <div class="inner">
                        <div class="main-img"><img src="../assets/img/categorias/cuaderno.jpg" alt="Category"></div>
                        <div class="thumblist"><img src="../assets/img/categorias/lapices.jpg" alt="Category"><img src="../assets/img/categorias/boligoma.jpg" alt="Category"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Libreria</h4>
                    <p class="text-muted">Caudernos desde dede $35.00</p><a class="btn btn-outline-primary btn-sm" href="shop-grid-ls.html"><i class="icon-search"></i> Ver Productos</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card mb-30">
                <a class="card-img-tiles" href="shop-grid-ls.html">
                    <div class="inner">
                        <div class="main-img"><img src="../assets/img/categorias/vasos.jpg" alt="Category"></div>
                        <div class="thumblist"><img src="../assets/img/categorias/plato.jpg" alt="Category"><img src="../assets/img/categorias/blobos.jpg" alt="Category"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Cotillón</h4>
                    <p class="text-muted">Vasos 20 unid. $90.00</p>
                    <a class="btn btn-outline-primary btn-sm" href="shop-grid-ls.html"> <i class="icon-search"></i> Ver Productos</a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center"><a class="btn btn-outline-secondary margin-top-none" href="shop-categories.html">Mas Productos</a></div>
</section>

<!-- Featured Products Carousel-->
<section class="container padding-top-3x padding-bottom-3x">
    <h3 class="text-center mb-30">Productos Destacados</h3>
    <div class="owl-carousel" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;margin&quot;: 30, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;576&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3},&quot;991&quot;:{&quot;items&quot;:4},&quot;1200&quot;:{&quot;items&quot;:4}} }">
        <!-- Product-->
        <div class="grid-item">
            <div class="product-card">
                <div class="product-badge text-danger">20% Off</div>
                <a class="product-thumb" href="shop-single.html"><img src="../assets/img/promociones/lapiceras.jpg" alt="Product"></a>
                <h3 class="product-title"><a href="shop-single.html">Caja de Lapiceras Bic Cristal 20u</a></h3>
                <h4 class="product-price">
                    <del>$340</del>$295.00
                </h4>
                <div class="product-buttons">

                    <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="icon-search"></i> ingresar</button>
                </div>
            </div>
        </div>
        <!-- Product-->
        <div class="grid-item">
            <div class="product-card">
                <div class="product-badge text-danger">10% Off</div>
                <a class="product-thumb" href="shop-single.html"><img src="../assets/img/promociones/hojas.jpg" alt="Product"></a>
                <h3 class="product-title"><a href="shop-single.html">Block De Hojas Rayadas 480 Rivadavia </a></h3>
                <h4 class="product-price">
                    <del>$290.00</del>$260.00
                </h4>
                <div class="product-buttons">

                    <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="icon-search"></i> ingresar</button>
                </div>
            </div>
        </div>
        <!-- Product-->
        <div class="grid-item">
            <div class="product-card">
                <div class="product-badge text-danger">PROMO 2x1</div>
                <a class="product-thumb" href="shop-single.html"><img src="../assets/img/promociones/bizcochuelo.jpg" alt="Product"></a>
                <h3 class="product-title"><a href="shop-single.html">bizcochuelo chocolate lodiser 2u</a></h3>
                <h4 class="product-price">
                    $95.00
                </h4>
                <div class="product-buttons">

                    <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="icon-search"></i> ingresar</button>
                </div>
            </div>
        </div>
        <!-- Product-->
        <div class="grid-item">
            <div class="product-card">
                <div class="product-badge text-danger">PROMO</div>
                <a class="product-thumb" href="shop-single.html"><img src="../assets/img/promociones/goma.jpg" alt="Product"></a>
                <h3 class="product-title"><a href="shop-single.html">Goma De Borrar Lapiz Maped Technic 20u</a></h3>
                <h4 class="product-price">
                    $190.00
                </h4>
                <div class="product-buttons">

                    <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="icon-search"></i> ingresar</button>
                </div>
            </div>
        </div>

    </div>
</section>
<br>