<!-- Site Footer-->
<footer class="site-footer">

    {{ id }}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <!-- Contact Info-->
                <section class="widget widget-light-skin">
                    <h3 class="widget-title">Datos de Contacto</h3>
                    <p class="text-white">Tel: 00 33 169 7720</p>
                    <ul class="list-unstyled text-sm text-white">
                        <li><span class="opacity-50">Dias de Atenciòn:</span>9.00 am - 8.00 pm</li>
                        <li><span class="opacity-50">Dias de Atenciòn:</span>10.00 am - 6.00 pm</li>
                    </ul>
                    <p><a class="navi-link-light" href="#">support@unishop.com</a></p><a class="social-button shape-circle sb-facebook sb-light-skin" href="#"><i class="socicon-facebook"></i></a><a class="social-button shape-circle sb-twitter sb-light-skin"
                        href="#"><i class="socicon-twitter"></i></a><a class="social-button shape-circle sb-instagram sb-light-skin" href="#"><i class="socicon-instagram"></i></a>
                    <a class="social-button shape-circle sb-google-plus sb-light-skin" href="#"><i class="socicon-googleplus"></i></a>
                </section>
            </div>
            <div class="col-lg-6 col-md-6">
                <!-- Mobile App Buttons-->
                <section class="widget widget-light-skin">
                    <h3 class="widget-title">Our Mobile App</h3><a class="market-button apple-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">App Store</span></a>
                    <a class="market-button google-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">Google Play</span></a><a class="market-button windows-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">Windows Store</span></a>
                </section>
            </div>

        </div>
        <hr class="hr-light mt-2 margin-bottom-2x">

        <!-- Copyright-->
        <p class="footer-copyright">© All rights reserved. Made with &nbsp;<i class="icon-heart text-danger"></i><a href="http://rokaux.com/" target="_blank"> &nbsp;by rokaux</a></p>
    </div>
</footer>