<!-- Shop Toolbar-->
<div class="shop-toolbar padding-bottom-1x mb-1">
    <div class="column">
        <div class="form-group">
            <label>Busqueda de Productos</label>
            <form class="input-group form-group" method="get"><span class="input-group-btn">
                    <button type="submit"><i class="icon-search"></i></button></span>
                <input class="form-control" type="search">
            </form>
        </div>
        <span class="text-muted">Showing:&nbsp;</span><span>1 - 12 items</span>
    </div>
    <div class="column">
        <a class="btn btn-success" routerLink="nuevo">
            <i class="fas fa-plus-circle"></i> Nuevo Producto
        </a>
    </div>
</div>


<!-- Product-->

<div *ngFor="let producto of productos" class="product-card product-list">
    <a class="product-thumb" href="shop-single.html">

        <div *ngIf="producto.descuento > 0" class="product-badge text-danger">{{producto.descuento}}% Off</div><img [src]="producto.imagen" alt="Product"></a>

    <div class="product-info">
        <h3 class="product-title"><a href="shop-single.html">{{producto.nombre}}</a></h3>
        <h4 class="product-price">
            <del>$99.99</del>${{producto.precio}}
        </h4>
        <p class="hidden-xs-down">{{producto.descripcion}}</p>
        <div class="product-buttons">
            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist"><i class="icon-heart"></i></button>
            <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fas fa-shopping-cart"></i> Agregar </button>
        </div>
    </div>
</div>


<!-- Pagination -->

<div class="pt-2">

    <nav class="pagination">
        <div class="column">
            <ul class="pages">
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li>...</li>
                <li><a href="#">12</a></li>
            </ul>
        </div>
        <div class="column text-right hidden-xs-down"><a class="btn btn-outline-secondary btn-sm" href="#">Next&nbsp;<i class="icon-arrow-right"></i></a></div>
    </nav>
</div>